.login_page {
    position: absolute;
    background-image: url('./assets/background.jpg');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header {
    font-weight: bold;
    font-size: 45px;
    text-align: center;

}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: white;
}


Form {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.login-wrapper {
    text-align: center;
    .login {
        .title-login {
            margin-bottom: 10%;
            font-size: 40px;
        }
        .formgroup-login {
            width : 500px;
            background: transparent;
            border: none;
            outline: none;
            font-size: 25px;
            margin-bottom: 20px;
            .label-login {
                margin-right: 10px;
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: center;
                margin-bottom: 3%;
            }
            .input-login {
                width: 300px;
                height: 25px;
                background: transparent;
                border: none;
                outline: none;
                border-bottom: 2px solid black;
                resize: none;
                font-size: 20px;
                color: black;
            }
        }
        .submit-login {
            width: 60%;
            height: 45px;
            border-radius: 15px;
            color: white;
            background: black;
            border-color: black;
            font-weight: bold;
        }
    }
    .policy {
        margin-top: 15px;
        font-size: 10px;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    }
    .suggest-register {
        color: black;
        font-weight: bold;
        font-size: 12px;
        margin-top: 10px;
    }

}


.inside-link:hover, .inside-link:visited, .inside-link:link, .inside-link:active {
    text-decoration: none;
    color: black;
}