.login_page {
    position: absolute;
    background-image: url('./assets/background.webp');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-shadow:inset 0 0 0 500px rgba(0,0,0,0.3);
}

.header {
    // font-weight: bold;
    text-align: center;

}



Form {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.login-wrapper {
    text-align: center;
    .login {
        
        .contact-title-login {
            margin-bottom: 10%;
            font-size: 40px;
            font-weight: lighter;   
            
        }
        .formgroup-login {
            width : 500px;
            background: none;
            border: none;
            outline: none;
            font-size: 25px;
            margin-bottom: 20px;
            .label-login {
                margin-right: 10px;
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: center;
                margin-bottom: 3%;
            }
            .input-login {
                width: 300px;
                height: 25px;
                background-color: transparent;
                border: none;
                outline: none;
                border-bottom: 2px solid black;
                resize: none;
                font-size: 20px;
                color: black;
            }
            .input-login::placeholder{
                color:rgb(219, 209, 209);
            }
            input[type=text] {
                color: white;
           
              }
        }
        .submit-login {
            width: 60%;
            height: 45px;
            border-radius: 15px;
            color: white;
            background: black;
            border-color: black;
            font-weight: bold;
            outline: none;
        }
        .submit-login:hover{
            transform:scale(1.02);
            font-size: 15px;
            
        }
    }
    .policy {
        margin-top: 15px;
        font-size: 10px;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        color:white;
        font-weight: bold;
    }
    .suggest-register {
        color: white;
        // font-weight: bold;
        font-size: 12px;
        margin-top: 10px;
    }

}



 .inside-link:visited, .inside-link:link, .inside-link:active {
    text-decoration: none;
    color: white;
    background-color: black;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 50px;
    
}

.inside-link:hover{
    border: 1.5px solid #262425;
    font-weight: bold;
}
