.navigation-bar {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-y: 20%;
    background-image: url('./assets/navbar.jpg');
    height: 120px;
    display: flex;
    flex-direction: row;
    color: white;
    .logo {
        flex: 0.9;
    }
    .ul-links-wrapper {
        display: flex;
        list-style-type: none;
        .li-links-wrapper {
            margin-right: 25px;
            Link {
            }
        }
    }
}