.song-list{
    position: absolute;
    background-image: url('./assets/background.jpg');
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: -10px;
    background-position-y: -60px;
    color: white;
    
  

}

